.header{
    height: .9rem;
    width: 100vw;
    background-color: #323436;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    z-index: 100;
}
.header .header-btn-left{
    width: .8rem;
    height: .9rem;
    color:#fff;
    text-align: center;
    line-height: .9rem;
    vertical-align: top;
    position: absolute;
    top:0;
    left:0;
}
.header .headerMenu:before{
    font-size: .41rem;
}

.header .back:before{
    font-size: .5rem;
}
.header .logo{
    width: 1.83rem;
    height: .44rem;
}
.header .header-btn-right{
    position: absolute;
    right:0;
    top:0;
    width: 1.1rem;
    height:.9rem;
    color:#fff;
    text-align: right;
    line-height: .9rem;
    padding-right:.2rem;
}
.header .user-login:before{
    font-size: .5rem;
}

.footer{
    width:100vw;
    background-color:#323436;
}
.footer .footer-links{
    padding:.34rem .65rem .17rem;
}
.footer .email-phone{
    display: flex;
    height: .29rem;
    color:#fff;
    justify-content: space-between;
    margin-bottom: .37rem;
}
.footer .email{
    font-size: .24rem;
}
.footer .email span{
    line-height: .34rem;
}
.footer .email:before{
    font-size: .36rem;
    padding-right: .23rem;
}
.footer .phone{
    font-size: .24rem;
    
}
.footer .phone:before{
    margin-right: .16rem;
    font-size: .34rem;
    vertical-align: middle;
}
.footer .phone span{
    vertical-align: top;
    line-height: .34rem;
}

.footer .record{
    padding:.23rem 0 .29rem;
    font-size: .22rem;
    color:#868B8D;
    background-color: #000;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -.3px;
}
.footer .links{
    font-size: .24rem;
    display:flex;
    flex-wrap: wrap;
}
.footer .links span{
    width: 1.55rem;
    margin-bottom: .22rem;
    color:#ADAEAE;
    text-align: center;
    border-right: 1px solid #ADAEAE;
}
.footer .links span:nth-child(4n+1){
    text-align: left;
}
.footer .links span:nth-of-type(4){
    border-right: none;
}
.footer .links span:last-of-type{
    border-right: none;
}

.menu{
    position: fixed;
    width:4.5rem;
    bottom:0;
    left:0;
    top:0;
    background:url(./img/menu-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 1.5rem .5rem 0;
    z-index: 1;
}
.menu a{
    font-size: .3rem;
    color:rgba(255,255,255,.8);
    display: block;
    line-height: .84rem;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.menu a:first-of-type{
    border-top: 1px solid rgba(255,255,255,.3);
}
.menu a:before{
    font-size: .4rem;
    padding:0 .1rem;
}

.tab{
    position: relative;
    overflow: hidden;
}
.picList{
    width: 400vw;
    font-size: 0;
    overflow: hidden;
}
.picList li{
    width:100vw;
    display: inline-block;
    overflow: hidden;
}
.picList img{
    width:100vw;
    display: block;
}
.picNav{
    position: absolute;
    width:100vw;
    left:0;
    height:.1rem;
    bottom:.2rem;
    text-align: center;
}
.picNav span{
    width:.3rem;
    height:.1rem;
    background-color: rgba(255,255,255,.5);
    margin:0 .1rem;
}
.picNav span.active{
    background-color: #fff;
}


.banner img{
    height: 4.6rem;
}