html{
    font-size: 13.333333vw;
}
body{
    margin:0;
    -webkit-text-size-adjust: none;
    font-size: .36rem;
}
p,h1,h2,h3,h4,dl,dt,dd{
    margin:0;
}
ul{
    list-style: none;
    padding:0;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    padding:0;
    border:0;
    background-color: transparent;
}
a,span,i,b,s{
    display: inline-block;
    vertical-align: top;
}
a,input{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
}
.clearfix:before{
    content: '';
    display: table;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
div,span,i,b,p,li,h1,h2,h3,h4,dl,dt,dd{
    line-height: 1;
}